@model CaseStudyModel

@{
    ViewData["Title"] = "Sports Pro";
    Layout = "_Layout";
}

<header class="mx-5 mt-3">
    <h1>Sports Pro Technical Support</h1>
</header>

<div class="mx-5 mt-3">
    <p>
        Sports management software for the sports enthusiast
    </p>
</div>
<div class="mx-5 mt-3">
    <h1>
        Admin
    </h1>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Manage Products</li>
            <li class="list-group-item">Manage Technicians</li>
            <li class="list-group-item">Manage Customers</li>
            <li class="list-group-item">Manage Incidents</li>
            <li class="list-group-item">Manage Registrations</li>
        </ul>
    </div>
</div>

<div class="mx-5 mt-3">
    <h1>Technicians</h1>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Update incidents</li>
        </ul>
    </div>
</div>