@model CaseStudyModel

@{
    ViewData["Title"] = "Sports Pro";
    Layout = "_Layout";
}

<header class="mx-5 mt-3">
    <h1>Sports Pro Technical Support</h1>
</header>

<div class="mx-5 mt-3">
    <p>
        Sports management software for the sports enthusiast
    </p>
</div>
<div class="mx-5 mt-3">
    <h1>
        Admin
    </h1>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <a class="list-group-item" asp-controller="Product" asp-action="List">Manage Products</a>
            <a class="list-group-item" asp-controller="Technician" asp-action="List">Manage Technicians</a>
            <a class="list-group-item" asp-controller="Customer" asp-action="List">Manage Customers</a>
            <a class="list-group-item" asp-controller="Incident" asp-action="List">Manage Incidents</a>
            <a class="list-group-item" asp-controller="Registration" asp-action="List">Manage Registrations</a>
        </ul>
    </div>
</div>

<div class="mx-5 mt-3">
    <h1>Technicians</h1>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <a class="list-group-item" asp-controller="TechIncident" asp-action="Index">Update incidents</a>
        </ul>
    </div>
</div>