@model Product

@{
    ViewData["Title"] = "Delete a Product";
}

<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete @Model.ProductName?</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ProductID" />

        <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-action="List" asp-controller="Product" class="btn btn-secondary">Cancel</a>
</form>