@model Product

@{
    string title = ViewBag.Action + " Product";
    ViewData["Title"] = title;
    Layout = "_Layout";
}

<h2 class="mx-3 mt-3">@ViewBag.Title</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3 mx-3">
        <label asp-for="Name" class="form-label">Product Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3 mx-3">
        <label asp-for="ShortDescription" class="form-label">Short Description</label>
        <input asp-for="ShortDescription" class="form-control" />
    </div>

    <div class="mb-3 mx-3">
        <label asp-for="LongDescription" class="form-label">Long Description</label>
        <input asp-for="LongDescription" class="form-control" />
    </div>

        <div class="mb-3 mx-3">
        <label asp-for="Image" class="form-label">Image</label>
        <input asp-for="Image" class="form-control" />
    </div>

        <div class="mb-3 mx-3">
        <label asp-for="Price" class="form-label">Price</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="mb-3 mx-3">
        <label asp-for="Quantity" class="form-label">Quantity</label>
        <input asp-for="Quantity" class="form-control" />
    </div>

        <div class="mb-3 mx-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" class="form-select">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                    <option value="@c.CategoryId">@c.Name</option>
            }
        </select>
    </div>

    <input type="hidden" asp-for="ProductId" />

    <div class="mx-3 me-1">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-controller="Product" asp-action="List" class="btn btn-secondary">Cancel</a>
    </div>
</form>