@{
    ViewData["Title"] = "Help Page";
    Layout = "_Layout";
}

<div class="mx-3 mt-3">
    <h1>Help Page</h1>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
  </li>
  <li class="nav-item">
    <a asp-controller="Tutorial" asp-area="Help" asp-action="Index" asp-route-id="Page1" class="nav-link" >Tutorial</a>
  </li>
</ul>