@model Accomodation

@{
    ViewBag.Title = "Add an Accomodation";
}

<h2>Add an Accomodation</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Add" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-dark">Save</button>
        <a asp-action="Index" class="btn btn-outline-dark">Cancel</a>
    </div>
</form>