@model List<PublisherNameDTO>

    <h1>List of Publishers in Boston</h1>

    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Publisher Name</th>
            <th>Publisher City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var publisher in Model)
        {
                    <tr>
                        <td>@publisher.PublisherName</td>
                        <td>@publisher.City</td>
                    </tr>
        }
    </tbody>
</table>