<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Chapter_8.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-lg">
        <header class="text-center text-white">
            <h1 class="bg-dark p-4">My Trip Log</h1>
        </header>

            @if (TempData.Keys.Contains("message"))
            {
                <h2 class="text-center">@TempData["message"]</h2>
            }
    </div>
        <main>
            @RenderBody()
        </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
