@model Dictionary<string, string>

@{
    ViewData["Title"] = "Contact Us";
    Layout = "_Layout";
}

<div class="mx-3 mt-3">
    <h1>Contact Us</h1>
    <p>Here's how you can reach us</p>
</div>

            <table class="table mx-3 mt-3">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
             <tr>
                 <td>@item.Key</td>
                 <td>@item.Value</td>
             </tr>   
        }


        </tbody>
    </table>