@model Employee

@{
    ViewBag.Title = "Add Employee";
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h2 class="mx-3 mt-3">Add Employee</h2>

<form asp-action="Add" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3 mx-3">
        <label asp-for="Name" class="form-label">First Name: </label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3 mx-3">
        <label asp-for="LastName" class="form-label">Last Name: </label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="mb-3 mx-3">
        <label asp-for="DOB" class="form-label">Birth Date: </label>
        <input asp-for="DOB" class="form-control" type="text" />
    </div>

    <div class="mb-3 mx-3">
        <label asp-for="DateOfHire" class="form-label">Hire Date: </label>
        <input asp-for="DateOfHire" class="form-control" type="text" />
    </div>

    <div class="mb-3 mx-3">
        <label asp-for="ManagerId" class="form-label">Manager:</label>
        <select asp-for="ManagerId" asp-items=@(new SelectList(ViewBag.Employees, "EmployeeId", "Name")) class="form-select">
            <option value="0"></option>
        </select>
    </div>

    <div class="mb-3 mx-3">
        <button type="submit" class="btn btn-primary">Add</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>

</form>