@model Activity

@{
    ViewBag.Title = "Add an Activity";
}

<h1>Add an Activity</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Add" method="post">
    <div class="mb-3">
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-dark">Save</button>
        <a asp-action="Index" class="btn btn-outline-dark">Cancel</a>
    </div>
</form>