@model TripViewModel

@{
    ViewBag.Title = "Add Trip - Page 1";
}

<h1>Add Trip Destination and Dates</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Add" method="post">
    <input type="hidden" asp-for="PageNumber" />
    <div class="mb-3">
        <label asp-for="Trip.DestinationId" class="form-label">Destination</label>
        <select asp-for="Trip.DestinationId" class="form-select"
            asp-items="@(new SelectList(Model.Destinations, "DestinationId", "Name"))">
            <option value="0"></option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Trip.AccomodationId" class="form-label">Accomodation</label>
        <select asp-for="Trip.AccomodationId" class="form-select"
                asp-items="@(new SelectList(Model.Accomodations, "AccomodationId", "Name"))">
            <option value="0"></option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="Trip.StartDate" class="form-label">Start Date</label>
        <input asp-for="Trip.StartDate" class="form-control" type="text" />
    </div>

    <div class="mb-3">
        <label asp-for="Trip.EndDate" class="form-label">End Date</label>
        <input asp-for="Trip.EndDate" class="form-control" type="text" />
    </div>

    <div>
        <button type="submit" class="btn btn-dark">Next</button>
        <a asp-action="Cancel" class="btn btn-outline-dark">Cancel</a>
    </div>
</form>