@model TripViewModel

@{
    ViewBag.Title = "Add Trip - Page 2";
}

<h1>Add Things to do in @Model.Trip.Destination.Name</h1>

<form asp-action="Add" method="post">
    <input type="hidden" asp-for="PageNumber" />

    <p>Hold down the CTRL key to select multiple activities.</p>
    <div class="mb-3">
        <select asp-for="SelectedActivities" class="form-select"
        asp-items="@(new SelectList(Model.Activities, "ActivityId", "Name"))" multiple size="10">
    </select>
    </div>
    <div>
        <button type="submit" class="btn btn-dark">Save</button>
        <a asp-action="Cancel" class="btn btn-outline-dark">Cancel</a>
    </div>
</form>