@model Customer

@{
    string title = ViewBag.Action + " Customer";
    ViewData["Title"] = title;
}

<h2 class="mx-3 mt-3">@ViewBag.Title</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3 mx-3">
        <label asp-for="CustomerFirstName" class="form-label">First Name</label>
        <input asp-for="CustomerFirstName" class="form-control" />
    </div>

    <div class="mb-3 mx-3">
        <label asp-for="CustomerLastName" class="form-label">Last Name</label>
        <input asp-for="CustomerLastName" class="form-control" />
    </div>

    <div class="mb-3 mx-3">
        <label asp-for="CustomerPhoneNumber" class="form-label">Phone Number</label>
        <input asp-for="CustomerPhoneNumber" class="form-control" />
    </div>

    <div class="mb-3 mx-3">
        <label asp-for="CustomerState" class="form-label">State</label>
        <input asp-for="CustomerState" class="form-control" />
    </div>

    <div class="mb-3 mx-3">
        <label asp-for="CustomerCity" class="form-label">City</label>
        <input asp-for="CustomerCity" class="form-control" />
    </div>

    <div class="mb-3 mx-3">
        <label asp-for="CustomerStreetAddress" class="form-label">Street Address</label>
        <input asp-for="CustomerStreetAddress" class="form-control" />
    </div>

    <div class="mb-3 mx-3">
        <label asp-for="CustomerZipCode" class="form-label">Zip Code</label>
        <input asp-for="CustomerZipCode" class="form-control" />
    </div>

    <input type="hidden" asp-for="CustomerID" />

    <div class="mx-3 me-1">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-controller="Product" asp-action="List" class="btn btn-secondary">Cancel</a>
    </div>
</form>