@model List<Category>

@{
    ViewData["Title"] = "Category Manager - Sales Order App";
    Layout = "_Layout";
}

<header class="mx-3 mt-3">
    <div>
        <h1>
            Category Manager
        </h1>
    </div>
</header>

<table class="table table-bordered mx-3">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
            </tr>
        }
    </tbody>
</table>
