@model Customer

@{
    ViewData["Title"] = "Delete a Customer";
    Layout = "_Layout";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Name (@Model.Email)</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CustomerId" />

        <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-action="List" asp-controller="Customer" class="btn btn-secondary">Cancel</a>
</form>