@model TripViewModel

@{
    ViewData["Title"] = "Add Trip - Page 2";
    ViewBag.SubHeader = $"Add Info for {Model.Trip.Accommodation} ";

    Layout = "_Layout";
}
<div class="container">
    <h2>Add Info for @Model.Trip.Accommodation </h2>
</div>

<form asp-action="Add" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="PageNumber" />
    <input type="hidden" asp-for="Trip.TripID" />

    <div class="mb-3 mx-4">
        <label asp-for="Trip.AccommodationPhone" class="form-label">Phone Number</label>
        <input asp-for="Trip.AccommodationPhone" class="form-control" />
    </div>

    <div class="mb-3 mx-4">
        <label asp-for="Trip.AccommodationEmail" class="form-label">Email Address</label>
        <input asp-for="Trip.AccommodationEmail" class="form-control" />
    </div>
    <button type="submit" class="btn btn-dark mx-3 mt-3">Next</button>
    <a asp-action="Cancel" class="btn btn-light mt-3 border-dark">Cancel</a>
</form>